@import "tailwindcss";

@theme {
  --font-display: var(--font-display);
  --font-mono: var(--font-mono);
  --font-body: var(--font-body);
}

body {
  background: #0d1b4b;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}